@import "../../../../assets/scss/_variables";

.special-booking {
  .card {
    border: 1px solid #e9e9e9 !important;
  }

  .border-separated {
    border-right: 1px solid #6c757d2b;
  }

  &-header {
    font-family: $font-proxima;

    small {
      font-family: $font-proxima;
      font-size: $font-size-base;
      color: $text-grey;
      font-weight: $font-weight-normal;
      margin-bottom: 1px;
    }

    &-number {
      font-size: $font-size-large;
      font-weight: $font-proxima-weight-semibold;
      color: $primary-color;

      img {
        width: 35px;
        height: 30px;
        margin-right: 15px;
      }

      .info {
        line-height: 16px;
      }
    }

    &-company {
      .status {
        color: $dark-grey-blue;
        font-size: $font-size-base;
        font-family: $font-proxima;
        font-weight: $font-proxima-weight-semibold;
        text-transform: uppercase;
      }
    }

    .book-card-action {

      li {
        font-family: $font-proxima;
        font-size: $font-size-base;
        font-weight: $font-weight-mid;
        margin-right: 17px;
        display: inline-block;

        &:last-child {
          margin-right: 0px;
        }

        &.continue {
          color: $secondary-color;
        }

        &.req-agai {
          color: $badge-default;
        }

        &.discard {
          color: $danger-color;
        }
      }

      color: $secondary-color;
      font-family: $font-proxima;
      font-size: $font-size-medium;
      font-weight: $font-proxima-weight-semibold;
      text-transform: uppercase;
      padding-left: 0.15rem;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  &-detail {
    &.eq-height {
      min-height: 7rem;
      // margin-bottom: 1.9rem;
    }

    .ports {
      font-family: $font-proxima;
      font-size: $font-size-base;

      &-label {
        font-size: $font-size-large;
        color: $text-color-default;
        margin-bottom: 0;
        font-weight: $font-proxima-weight-semibold;
        line-height: 1;
      }

      .customer-image {
        width: 44px;
        height: 40px;
        border: 1px solid #6c757d2b;
        padding: 0.4375rem;

        img {
          height: 100%;
          width: 100%;
        }
      }

      small {
        font-size: $font-size-base;
        color: $color-topmenu;
        text-transform: uppercase;
        line-height: 1.2;
        vertical-align: bottom;
        text-align: left;
        margin-top: 0.5rem;
      }

      span {
        font-size: $font-size-medium;
        font-family: $font-proxima;
        color: rgb(43, 43, 43);
        text-align: left;
      }
    }

    .ports-calendar {
      font-size: $font-size-medium;
      font-family: $font-proxima;
      padding-bottom: 0.9rem;
      padding-top: 0.55rem;

    }

    &.angle-arrow {
      &:before {
        content: "";
        height: 70px;
        width: 1px;
        background: #6c757d2b;
        position: absolute;
        transform: rotate(35deg);
        top: 63px;
        right: 25px;
      }

      &:after {
        content: "";
        height: 70px;
        width: 1px;
        background: #6c757d2b;
        position: absolute;
        transform: rotate(-35deg);
        top: 5px;
        right: 25px;
      }
    }

    @media (max-width: $screen-fourteen-hundred) {
      .angle-arrow {

        &:before,
        &:after {
          right: 15px !important;
        }
      }
    }
  }

  @media (max-width: $screen-md-screen) {
    .border-separated {
      border-right: 0px;
      border-bottom: 1px solid #6c757d2b;
      padding-bottom: 10px;
    }

    .hr-solid {
      margin-top: 10px !important;
    }
  }
}
