.main {
  margin: 0 auto 0px;
  // margin-top: calc(430px - 23.01em);
  // position: absolute;
  // top: 0;
  width: 100%;
  // min-height: calc(100vh - 40px); @todo for sticking footer to bottom
}
.main-bg {
  background: url("../../assets/images/SLIDER-3_-1920-X-780.jpg") no-repeat top
    center / cover;
}
