@import "../../../../assets/scss/_variables.scss";
app-search-footer {
  width: 100%;
  // position: absolute;
  margin: 2rem 0 0;
}

body.bg-grey {
  footer {
    // background: $primary-grey;
    // position: relative;
    padding: 1rem;
    text-align: center;
    // margin-bottom:-50px;
    .info-links {
      padding-top: 17px;
      display: inline-block;
      color: $white-color;
      font-size: $font-size-medium;
      font-family: $font-proxima;
      font-weight: $font-weight-normal;
      border-right: 1px solid rgba($dark-grey-blue, 0.5); // padding: 0 47px;
      text-align: center;
      &:last-child {
        border-right: 0px;
      }
      svg {
        position: relative;
        width: 18px;
        height: 18px;
        margin-top: 0px;
        margin-right: 10px;
        top: 0px;
      }
      img {
        width: 18px;
        margin-top: 0px;
        margin-right: 10px;
      }
    }
    .terms {
      padding-bottom: 17px;
      display: inline-block;
      color: $disabled-text-color;
      font-size: $font-size-base;
      text-align: center;
      font-weight: 500;
      margin-top: 35px;
      //margin-bottom: 15px;
      a {
        color: $disabled-text-color;
        padding: 0 10px;
        display: inline-block;
        transition: all 0.5s ease;
        span {
          position: relative;
          color: inherit;
          text-decoration: none;
          line-height: 24px;
          width: auto;
          &:before,
          &:after {
            content: "";
            position: absolute;
            transition: transform 0.5s ease;
          }
          &.link-hover-1 {
            padding-top: 10px;
            &:before {
              top: 25px;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 1px;
              background: darken(#00a2df, 3%);
              transform: scaleX(0);
            }
            &:hover:before {
              transform: scaleX(1);
            }
          }
        }
        &:hover {
          color: $primary-color;
        }
        &.privacy {
          border-left: 1px solid $disabled-text-color;
        }
      }
    }
  }
}
